grumphp:
  git_hook_variables:
    EXEC_GRUMPHP_COMMAND: ['docker', 'compose', 'run', '-T', '--rm', '--no-deps', 'storal']
  tasks:
    jsonlint: ~
    yamllint: ~
    phplint: ~
    phpcsfixer:
        config: .php-cs-fixer.php
  ascii:
    failed: ~
    succeeded: ~